 .header {
   /* border: solid; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 5%;
    position: fixed;
    width: 100%;
    height: 100px;
    z-index: 99;
    transition: 0.3s;
 }

 .header.sticky {
    background: white;
 }

 .header.sticky .header_title,
 .header.sticky .header_nav li a {
    color: black;
 }
  .header.sticky .header_nav li:hover a {
    color: white;
  }
.header_title {
    color: white;
}
 .header_title span {
    color: red ;
 }
 .header_nav {
    /*border: solid;*/
    display: flex;
 }
 .header_nav li {
    list-style: none;
    padding-inline: 1rem;
    padding-block: 0.5rem;
    border-radius: 99px;
    transition: 0.3s ease-out;
 }
 .header_nav li:hover {
    background: #820C18;
 } 
 .header_nav li a {
    font-weight: 500;
    color: white;
    transition: 0.3s;
 }
 .header_nav li:hover a{
    color: white;   
 }
 .home {
    background: linear-gradient(to right,
    rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0)),
    url(images/rara.jpg);
    min-height: 100dvh;
    background-size: cover;
    background-position: center;
    max-width: 100%;
    color: white;
    padding-top: 100px;
 }
 .home_content {
    max-width: 500px;
 }

 .home_content-btn {
    margin-top: 1rem;
 }

 .home_cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
 }

  .home_cards .home_card {
    min-width: 200px;
    height: 250px;
    border-radius: 1rem;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: end;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    cursor: pointer;
  }
  
  .home_card-title {
    width: 100%;
    height: 50%;
    background: linear-gradient(to top,
    rgba(0,0,0,0.5), transparent);
    border-radius: 1rem;
    display: flex;
    align-items: end;
    padding: 1rem;
    font-weight: 600;
  }

 .home_card-1 {
    background: url("images/pokhara.jpg");
    grid-row: span 2;
    align-self: center;
 }
 .home_card-2 {
    background: url("images/everest\ base.jpg");
 }
 .home_card-3 {
    background: url("images/phoksundo.jpg");
 }
 .about_small title {
   color: var(--color-gray);
 }

 .about_cards {

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
 }

 .about_cards .about_card {
    width: 200px;
    height: 250px;
    border-radius: 1rem;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: end;
 }
 .about_card-1 {
    background: url("images/ghandruk.jpg");
 }
 .about_card-2 {
    background: url("images/rara.jpg");
    grid-row: span 2;
    align-self: center;
    position: relative;
 }
  .about_card-2::before {
    content: "";
    width: 100%;
    height: 100px;
    background: linear-gradient(to top,
    rgba(0,0,0,0.5), transparent);
    border-radius: 1rem;
  }

  .about_card-2-travel-img {
    position: absolute;
    width: 150px;
    right: -60px;
    bottom: -40px;
  }
 .about_card-3 {
    background: url("images/phoksundo.jpg");
 }

 .about_stats {
    display: flex;
    margin-top: 1rem;
    gap: 1rem;
    flex-wrap: wrap;
 }

 .about_stat-btn-2 {
    background: white;
    color: var(--color-primary);
    border: solid 1.5px var(--color-primary);
 }

 .about_travel-img {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 220px;
    z-index: -1;
 }

 .destinations {
    background: linear-gradient(145deg, white 50%,
    #FFF7F5 100%);
 }

 .destinations_small-title {
    color: var(--color-gray);
 }

 .destinations_content-btn {
   margin-top: 1 rem;
 }

 .swiper {
   width: 100%;
   border-radius: 1rem;
 }

 .swiper-slide_container {
   height: 300px;
   margin-bottom: 2.5rem;
   margin-inline: 12px;
   position: relative;
   border-radius: 1rem;
   overflow: hidden;
   cursor: pointer;
 }

  .swiper-slide_container:hover img {
   transform: scale(1.1);
  }

 .swiper-slide_container img {
   width: 100%;
   height: 100%;
   object-fit: cover;
   transition: 0.3s ease-out;
 }

 .swiper-slide_content {
   position: absolute;
   bottom: 0;
   width: 100%;
   padding: 1rem;
   color: white;
   background: linear-gradient(to top,
   rgba(0,0,0,0.7), transparent);
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   gap: 4px;
 }

 .swiper-slide_content-title {
   grid-column: span 2;
   font-weight: 600;
 }

 .swiper-slide_content-rating {
   justify-self: end;
 }

 .swiper-slide_content-rating i {
   color: #FFD600;
 }

 .swiper-button-prev,
 .swiper-button-next {
   background: var(--color-primary);
   border-radius: 99px;
   padding: 12px;
   transform: translateY(-12px);
   color: white !important;
   margin-inline: -4px !important;
 }

 .swiper-pagination-bullet {
   background: var(--color-primary) !important;   
 }
 
 .services_man-img {
   width: 300px;
 }

 .services_circle {
   background: var(--color-primary);
   width: 600px;
   height: 600px;
   position: absolute;
   left: -220px;
   top: 120px;
   z-index: -1;
   border-radius: 100%;
 }

 .services_cards {
   display: flex;
   flex-direction: column;
   gap: 1rem;
   margin-top: 1rem;
 }

 .services_card {
   border: solid 1.5px rgba(0, 0, 0, 0.1);
   padding: 1rem;
   border-radius: 16px;
   display: flex;
   align-items: center;
   gap: 1rem;
   background: white;
   cursor: pointer; 
   transition: 0.3s;
 }

 .services_card:hover {
   background: var(--color-primary);
   color: white;
 }
 .services_card:hover i {
   background: rgba(255,255,255,0.2);
 }
 .services_card i {
   background: var(--color-primary);
   min-width: 50px;
   min-height: 50px;
   color: white;
   display: flex;
   align-items: center;
   justify-content: center;
   border-radius: 100%;
 }

 .footer {
   background: #151515;
   width: 100%;
   padding-inline: 5%;
   padding-block: 2rem;
   color: white;
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   gap: 2rem;
 }

 .footer_menu-title {
   font-weight: 500;
 }

 .footer_menus {
   margin-top: 1rem;
   list-style: none;
 }

 .footer_menus li {
   width: fit-content;
 }
 .footer_menus li a {
   color: rgba(255,255,255,0.7);
   cursor: pointer;
   font-weight: 400;
 }

 .footer_menus li:hover a {
   color: white;
 }

 .header_menu {
    display: none;
 }

 @media screen and (max-width: 1024px) {
    .header_menu {
    display: block;
    font-size: 2rem;
    color: white;
    cursor: pointer;
 }

 .header.sticky .header_menu {
    color: black;
 }

 .header_menu .fa-xmark {
    display: none;
 }
    .header_nav {
        position: absolute;
        flex-direction: column;
        top: 100px;
        position: absolute;
        left: 0;
        background: white;
        width: 100%;
        padding-inline: calc(5% - 1rem);
        height: 0;
        overflow: hidden;
        transition: 0.3s ease-out;
        gap: 0.5rem;
    }
     .header_nav.active {
        height: 220px;
        padding-block: 1rem;
    }

    .header_nav.active ~ .header_menu .fa-bars {
        display: none;
    }
     .header_nav.active ~ .header_menu .fa-xmark {
        display: block;
    }
    .header_nav li {
        width: fit-content;
        margin-left: 0.5rem;
    }

    .header_nav li a {
        color: black;
    }

    .home_cards {
        display: flex;
        overflow: auto;
        width: 112%;
        margin-inline: -6%;
        padding-inline: 5%;
        scrollbar-width: none;
    }

    .services_circle {
      top: -220px;
    }
     .services_card {
      flex-wrap: wrap;
     }
 } 